.container {margin-bottom: 100px;}
.green-bg {background-color: #fceae8;
border-radius: 5px;
}
.carousel-item {padding: 20px 40px;}
.price {color: #FF136F;}
.buy-now-button {background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100% );
color: cornsilk;
border: none;
border-radius: 10px;
padding: 10px 30px;
cursor: pointer;
}
.cat1, .cat2, .cat3 {padding: 10px 30px;
    border-radius: 10px;
}
.cat1 {background-color: rgb(252, 252, 66);
}
.cat2 {background-color: rgb(202, 42, 69);
    }
.cat3 {background-color: blue;
    }
    .categories h1 {color:cornsilk;}
    .categories img {width: 100px;}
    .card {border: none;
    box-shadow: 5px 5px 10px lightgrey;
     border-radius: 10px;}
#subscribe {height: 300px;}
#subscribe h6 {color: grey;}
footer {text-align: center;}